html {
  background: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body {
  background: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logoImage {
  float: left;
  position: absolute;
  width: 56px;
  height: 60px;
  left: 35px;
  top: 15px;
}

.logoName {
  color: #fbc500;
  position: absolute;

  height: 28px;
  left: 95px;
  top: 30px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 28px;
  display: inline-block;
}

.loginButton {
  display: inline-block;
  margin-top: 1.3rem;
  margin-right: 2rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.back-image {
  top: 25px;
  background-image: url("https://picsum.photos/1000/1000");
  background-color: #cccccc;
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  position: relative;
  opacity: 0.63;
}

.title-main {
  font-size: 500%;
}

.title-text {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.contentButton {
  position: relative;
  top: 50px;
  background: #fbc500;
  border-color: #fbc500;
  margin: auto 50px;
  width: 20rem;
  height: 10rem;
  font-size: 200%;
}
